<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.excilys.testapp.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.excilys.testapp.android.ui.activity.MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.excilys.testapp.android.ui.activity.ClientActivity_"
            android:label="@string/title_activity_client" >
        </activity>
        <activity
            android:name="com.excilys.testapp.android.ui.activity.ClientConnectionActivity_"
            android:label="@string/title_activity_client_connection" >
        </activity>
        <activity
            android:name="com.excilys.testapp.android.ui.activity.ServerActivity_"
            android:label="@string/title_activity_server" >
        </activity>
    </application>

    <!-- webscoket permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- retrieve ip address permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>
